## Markdown

## Styling Text

**Example for Bold**
__Example for bold__

*Example for Italic*
_Example for italic_

***All bold anf Italic***

**This is an Example for _Nested_ Italic**

~~Example for StrikeThrough~~

## Quoting Text
> Sample Example for Quoting Text

## Quoting Code

``Chapter-1 Chapter-2``

``
Chapter-1
Chapter-2
``

Sample Example for ``Quoting Text``

```
def fun():
    return return_value
```

## Links

SSSE College Link [Click here](https://www.sseptp.org/)

## Relative Link

First Python Program [Click Here](demo.py) 

Image Access by using Relative Link [Click Here](sample.jpeg)

## Images

![Logo]()

In [1]:
import keyword

In [2]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
print(len(keyword.kwlist))

36

## Typecasting:
    - To change one data type to another data type
    - int()
    - float()
    - str()
    - complex()
    - All Data Structures [list(),tuple(),set() and dict()]

## Input Formatting:
    - By default it stores string data type value
    - It displays an info to a user
    - It reads a value from user
    Syntax:
        variablename = input("Something info")

In [7]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: kiran
kiran <class 'str'>

In [6]:
w = 45
print(w,type(w))

45 <class 'int'>

In [1]:
print(dir(keyword))

NameError: name 'keyword' is not defined

In [2]:
w

NameError: name 'w' is not defined

In [8]:
w = input("Enter a value: ")
z = input("Enter b value: ")
print(w,type(w))
print(z,type(z))

Enter a value: 45
Enter b value: 89.02165
45 <class 'str'>
89.02165 <class 'str'>

In [9]:
w,z = input("Enter a value: "),input("Enter b value: ")
print(w,type(w),z,type(z))

Enter a value: 12
Enter b value: 35.0564
12 <class 'str'> 35.0564 <class 'str'>

```
Task:
=====
    Input:
        4
        5
    Output:
        Addition of 4 and 5 is: 9
        Substraction of '4' and '5' is: -1
```

In [15]:
a=int(input())
b=int(input())
addition=a+b
subtraction=a-b
print("Addition of "+str(a)+" and "+str(b)+" is: "+str(addition))
print("subtraction of '"+str(a)+"' and '"+str(b)+"' is: "+str(subtraction))

3
4
Addition of 3 and 4 is: 7
subtraction of '3' and '4' is: -1

In [17]:
a,b=input(),input()
print("Addition of "+a+" and "+b+" is: "+str(int(a)+int(b)))
print("substraction of '"+a+"' and '"+b+"' is: "+str(int(a)-int(b)))

5
6
Addition of 5 and 6 is: 11
substraction of '5' and '6' is: -1

## Output Formatting:
    - ,+
    - %
    - .format
    - f

In [27]:
m = input("Enter a value: ")
k = input("Enter b value: ")
print("Addition of",m,"and",k,"is:",m+k)
print("Addition of "+m+" and "+k+" is: "+(m+k))
print("Addition of %s and %s is: %s"%(m,k,m+k))
print("Addition of {} and {} is: {}".format(m,k,m+k))
print("Addition of {1} and {0} is: {2}".format(m,k,m+k))
print(f"Addition of {m} and {k} is: {m+k}")

Enter a value: 1
Enter b value: 8
Addition of 1 and 8 is: 18
Addition of 1 and 8 is: 18
Addition of 1 and 8 is: 18
Addition of 1 and 8 is: 18
Addition of 1 and 8 is: 18

In [29]:
m = int(input("Enter a value: "))
k = int(input("Enter b value: "))
print("Addition of",m,"and",k,"is:",m+k)
# print("Addition of "+m+" and "+k+" is: "+(m+k))
print("Addition of %s and %s is: %s"%(m,k,m+k))
print("Addition of {} and {} is: {}".format(m,k,m+k))
print("Addition of {1} and {0} is: {2}".format(m,k,m+k))
print(f"Addition of {m} and {k} is: {m+k}")

Enter a value: 1
Enter b value: 2
Addition of 1 and 2 is: 3
Addition of 1 and 2 is: 3
Addition of 1 and 2 is: 3
Addition of 2 and 1 is: 3
Addition of 1 and 2 is: 3

```
    Task:
    =====
        Input:
            5
            6
            2
        Output:
            Given Expresssion 3x^2+5y+3c is: ?
```

In [33]:
x,y,c=int(input()),int(input()),int(input())
print("Given Expression 3x^2+5y+3c is:{}".format(3*x*x+5*y+3*c))

5
6
2
Given Expression 3x^2+5y+3c is:111

In [36]:
q = 45
r = 34
print(q and r)
print(r and q)
print(q & r)
print(r & q)

34
45
32
32

In [37]:
print(q or r)
print(r or q)
print(q | r)
print(r | q)

45
34
47
47

## Conditional Statements:
    - To check whether a given condition statement is either True or False
    - if => single case
    - if-else => two cases
    - nested if => two or more cases
    - elif => two or more n number of cases and based on preference we need to use elif

## if
    Syntax:
        if condition:
            //statements
        () => Optional

In [39]:
k = int(input("Enter a number: "))
if k>20:
    print(f"Entered number {k} is Greater than 20")

Enter a number: 450
Entered number 450 is Greater than 20

In [41]:
w = input("Enter a name: ")
if w == "Rajesh":
    print(f"Entered Name is {w} equal to Rajesh")

Enter a name: Rajesh
Entered Name is Rajesh equal to Rajesh

## if-else
    Syntax:
        if condition:
            //statement-1
        else:
            //statement-2
        () => Optional

In [44]:
c = int(input("Enter a number: "))
if c!=20:
    print(f"Entered number {c} is Not Equal to 20")
else:
    print(f"Entered number {c} is Equal to 20")

Enter a number: 1520
Entered number 1520 is Not Equal to 20